{% extends "base.html" %}
{% block title %} Jobs Dashboard {% endblock %}
{% block content %}
<div class = "filter-selects">
  {% for header in headers[:2] %}
  {% set itr = loop.index0 %}
  {% set lst = [] %}
  {% for row in values %}
  {% for value in row %}
  {% if loop.index0 == itr %}
  {% set lst = lst.append(value) %}
  {% endif %}
  {% endfor %}
  {% endfor %}
  <label for = "filter-select{{itr}}">סינון {{header}}:</label>
  <select class = "form-select" id = "filter-select{{itr}}">
    <option value = "">Select...</option>
    {% for item in lst | unique %}
    <option value = "{{item}}">{{item}}</option>
    {% endfor %}
  </select>
  {% endfor %}
</div>
<div class = "table-responsive" style = "display: block; height: 400px; width: 99%; position: absolute; bottom: 0px;">
    <table class="table table-striped table-hover table-bordered caption-top">
        <caption>Main Table</caption>
        <thead class = "table-dark">
          <tr>
            {% for header in headers %}
            <th scope="col">{{header}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for row in values %}
          <tr>
            {% for value in row %}
            <td>{{value}}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
$(document).ready(function(){
  $('#filter-select0').selectize();
});
$(document).ready(function(){
  $('#filter-select1').selectize();
});
</script>
{% endblock %}